.explore-card {
    width: 350px;
    height: 250px;
    border-radius: 15px;
    background-color: rgb(204, 204, 178);
    color: #244135;
}

.explore-section-desktop {
    display: flex;
    justify-content: space-evenly;
}