.midSection {
    background-color: #ffffff;
    padding: 200px 0px 200px;
}

.RTitle {
    text-align: left;
    color: #244135;
    margin: 50px 65px 15px;
}

.cardSection-desktop {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 60px;
}

.cardSection-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 60px;
}

.switch {
    margin-right: 13px;
}

.room-card-desktop {
    display: flex;
    width: 300px;
    height: 500px;
    margin-bottom: 20px;
    background-color: #FFF7E6;
    outline-color: #C6D4B2;
    outline-width: 1px;
    outline-style: groove;
    border-radius: 16px;
    box-shadow: 0px 4px 2px #C6D4B2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    overflow: hidden;
}

.room-card-mobile {
    display: flex;
    width: 300px;
    height: 500px;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: #FFF7E6;
    outline-color: #C6D4B2;
    outline-width: 1px;
    outline-style: groove;
    border-radius: 16px;
    box-shadow: 0px 4px 2px #C6D4B2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
}

.room-image {
    width: 260px;
    height: 270px;
    border-radius: 15px;
}

.room-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.room-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 25px;
}

.room-type {
    font-size: 18px;
    font-family: 'Fira Sans';
    font-weight: 400;
    color: #244135;
    word-wrap: break-word;
}

.price {
    display: flex;
    align-items: center;
}

.starting-from {
    font-size: 14px;
    font-family: 'Fira Sans';
    font-weight: 400;
    color: #244135;
    word-wrap: break-word;
    margin-right: 5px;
}

.price-value {
    font-size: 20px;
    font-family: 'Fira Sans';
    font-weight: 500;
    color: #244135;
    word-wrap: break-word;
}

.room-amenities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.area {
    text-align: right;
    font-weight: 430;
}

.guests {
    align-self: left;
    margin: -10px 0px 0px;
    background-image: url("../Styles/Images/Guests.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 15px 15px;
}

/* Change content when disabled */
input:disabled + .slider:before {
    content: "$";
}

/* Change content when enabled */
input:checked + .slider:before {
    content: "₾";
}

/* The switch - the box around the slider */
.price-toggle {
    margin-left: 85px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f1e9d6;
    border: 2px solid;
    border-color: #a39a84;
    border-radius: 0.3px;
    transition: all .4s;
}

.slider::after {
    content: "$ ₾";
    letter-spacing: 4px;
    color: #a39a84;
}

.slider:before {
    position: absolute;
    content: "$";
    text-align: center;
    color: #244135;
    font-weight: 500;
    height: 20px;
    width: 20px;
    left: -2px;
    bottom: -2px;
    background-color: #C6D4B2;
    border: 2px solid;
    border-color: #244135;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FFF8E9;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FFF8E9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    -moz-transform: translateX(26px);
    -o-transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

  .slider.round:before {
    border-radius: 50%;
}