@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

::-webkit-scrollbar-track {
  /* Properties for the scrollbar track */
  background-color: #070707; /* Example color */
}

body{
  text-align: center;
  background-color: #FFF7E6;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.midSection {
  background-color: #ffffff;
  padding: 200px 0px 200px;
}

.RTitle {
  text-align: left;
  color: #244135;
  margin: 50px 65px 15px;
}

.cardSection {
  flex-direction: row;
  display: flex;
  margin-top: 40px;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.room-card {
  width: 300px;
  height: 370px;
  padding: 30px 16px;
  background-color: #FFF7E6;
  outline-color: #24413518;
  outline-width: 1px;
  outline-style: groove;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  box-shadow: 0px 5px 5px #0707076c;
}

.room-image {
  width: 260px;
  height: 270px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px #1a472b6c;
}

.room-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.room-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 25px;
}

.room-type {
  font-size: 18px;
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #244135;
  word-wrap: break-word;
}

.price {
  display: flex;
  align-items: center;
}

.starting-from {
  font-size: 14px;
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #244135;
  word-wrap: break-word;
  margin-right: 5px;
}

.price-value {
  font-size: 20px;
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #244135;
  word-wrap: break-word;
}

.room-amenities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.area {
  text-align: right;
  font-weight: 430;
}

.guests {
  align-self: left;
  margin: -10px 0px 0px;
  background-image: url("./Styles/Images/Guests.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 15px 15px;
}

.separator {
  background-image: url("./Styles/Images/DividerN.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px 15px 15px;
}

.comingSoon {
  background-image: url("./Styles/Images/cottage.png");
  background-repeat: repeat-x;
  background-position: center;
  width: 100%;
  height: 250px;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
}

.comingSoonContent {
  margin-left: 20px;
}

.comingSoon h1 {
  font-size: 35px;
}

.aboutFamily {
  padding: 20px 100px 20px;
  color: #244135;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-shadow: 3px 3px 5px #07070756;
}

.aboutFamily-img {
  text-align: left;
  height: 340px;
  box-shadow: 5px 5px 5px #07070765;
  border-radius: 5px;

  outline-color: #0000002f;
  outline-width: 1px;
  outline-style: groove;
}

.aboutFamily-title {
  text-align: left;
}

.aboutFamily-history {
  margin-top: 20px;
  text-align: left;
  margin-left: 30px;
  line-height: 1.5;

  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}


.aboutFamily-mobile {
  color: #244135;
  text-shadow: 3px 3px 5px #07070756;
  margin-bottom: 15px;
}

.aboutFamily-title-mobile {
  text-align: center;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
}

.aboutFamily-mobile > div {
  transition: opacity 0.3s ease-in-out; /* Add transition */
}

.aboutFamily-mobile > div.show {
  opacity: 1; /* Opacity for visible section */
}


.aboutFamily-title-mobile img {
  height: 340px;
  max-width: 280px;
}

.aboutFamily-popup-mobile {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.aboutFamily-title-mobile,
.aboutFamily-popup-mobile {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
}

.aboutFamily-mobile button {
  border-style: none;
  background-color: #691b1b00;
  padding: 15px 15px 15px;
  text-decoration:underline;
  font-size: 20px;
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #244135;
  transition: all 0.4s;
  cursor: pointer;
}

.aboutFamily-mobile button:hover {
  text-decoration:line-through;
  font-weight: 600;
  color: #8a9e96;
}

.activities-desktop {
  padding: 30px 300px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.activities-desktop div {
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering:optimizeQuality;
  opacity: 80%;
  margin-top: 30px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  border-radius: 15px;
}

.activities-desktop div p {
  margin: 0;
}

.activities-desktop div:hover, .activities-desktop div:active {
  opacity: 100%;
  color: #ffffff00;
  font-size: 20px;
}

.activities-desktop div:nth-child(2),
.activities-desktop div:nth-child(5) {
  margin-top: 0px;
}



.activities-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activities-mobile > div {
  width: calc(50% - 10px);
  max-width: 250px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  opacity: 80%;
  margin: 30px 5px 50px 5px;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #070707;
  font-size: 25px;
  border-radius: 15px;
}

.activities-mobile > div p {
  margin: 0;
}

.activities-mobile > div:hover,
.activities-mobile > div:active {
  opacity: 100%;
  color: #ffffff00;
  font-size: 20px;
}

/* Change content when disabled */
input:disabled + .slider:before {
  content: "$";
}

/* Change content when enabled */
input:checked + .slider:before {
  content: "₾";
}


/* The switch - the box around the slider */
.price-toggle {
  margin-left: 85px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  text-align: center;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1e9d6;
  border: 2px solid;
  border-color: #a39a84;
  border-radius: 0.3px;
  transition: all .4s;
}

.slider::after {
  content: "$ ₾";
  letter-spacing: 4px;
  color: #a39a84;
}

.slider:before {
  position: absolute;
  content: "$";
  text-align: center;
  color: #244135;
  font-weight: 500;
  height: 20px;
  width: 20px;
  left: -2px;
  bottom: -2px;
  background-color: #C6D4B2;
  border: 2px solid;
  border-color: #244135;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFF8E9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFF8E9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  -moz-transform: translateX(26px);
  -o-transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}